
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(../cpu1.jpg);
    background-color: slategrey;
    margin: 5px;
}
main{
    flex-wrap: wrap;
    color: silver;
}
a{
    color: rgb(11, 102, 194);
    font-style: italic;
    font-weight: bolder;
}
.rowbgc{
    background-color: steelblue;
}
.nav-link{
    color: silver;
    font-weight: bolder;
}
.img-fluid:hover{
    width: 100%;
    height: 100% ;
    border: solid;
    border-color:steelblue;
    border-style: solid;
    border-width: 5px;
}
/* in contact.html */
#contactHeader{
    text-align: center;
    color: silver;
    background-color: slategray;
}
/* in contact.html */
#contact{
    background-color: steelblue;
    border: silver;
    border-radius: 1%;
}
